
@media only screen and (max-width: 1240px) {
    html { font-size: 56.5%; }
}

@media only screen and (max-width: 1200px) {
    html { font-size: 58.5%; }
}

@media only screen and (max-width: 1024px) {
    html { font-size: 59.5%; }
    
    .main-container { width: 60%; margin: 12rem 0 0 30%; padding-left: 5rem; }

    .local-visitor { font-size: 1.2rem; }
    .accordion { padding: .8rem; }
    .accordion > span { font-size: 1.6rem; }
}

@media only screen and (max-width: 992px) {
    html { font-size: 57.5%; }
}

@media only screen and (max-width: 960px) {
    html { font-size: 55.5%; }
    .main-container { padding-left: 6rem; width: 62%; }

    .select-teams { padding-left: 3rem; }

    .buttons { margin-left: 30%; }
}

@media only screen and (max-width: 900px) {
    html { font-size: 52.5%; }

    .main-container { margin-top: 15rem; }
}

@media only screen and (max-width: 840px) {
    html { font-size: 48.5%; }
}

@media only screen and (max-width: 800px) {
    html { font-size: 45.5%; }
}

@media only screen and (max-width: 768px) {
    html { font-size: 47%; }
    .main-container { margin: 10rem 0 0 15%; padding: 5rem 0 10rem 4rem; width: 52%; }
    table tr td { padding: 1px .9rem; font-size: 1.7rem; }
    .select-teams { margin: 12rem 0 0 -2rem; padding-left: 0rem; }
    .select-teams > select { padding: 0.8rem; }
    #team-local, #team-visitor { font-size: 1.5rem; width: 35%; }
    .buttons { margin: 3rem 0 0 33%; width: 22%; }
    .GF, .GA, .GD { display: none; }

    .week-container { display: block; margin: 8rem 0 0 30rem; }
    #select-weeks { width: 25rem; padding: 0.3rem; margin-left: -4rem; }
    .accordion { width: 35%; margin-left: -4rem; }
    .match-list { margin-top: 1rem; }
    .match-list:last-child { padding-bottom: 2rem; }
    .matches > .match-list .match span { padding: 0 16px; }
    .local-visitor { font-size: 1.3rem; margin-left: -5.9rem; }
    #display-week { padding: 0.5rem; }

}

@media only screen and (max-width: 730px) {
    html { font-size: 45.5%; }
}

@media only screen and (max-width: 700px) {
    html { font-size: 43.5% }
}

@media only screen and (max-width: 680px) {
    html { font-size: 40.5%; }

    #display-week { padding: 0.7rem; margin-left: .5rem; }

}

@media only screen and (max-width: 660px) {
    html { font-size: 38.5%; }
}

@media only screen and (max-width: 620px) {
    html { font-size: 38.5%; }
}

@media only screen and (max-width: 600px) {
    html { font-size: 46.5%; }
    .select-teams { margin: 12rem 0 0 0rem; }
    .select-teams > select { padding: 0.6rem; }
    .select-teams > input { width: 4rem; padding: .1rem 0; }
    #team-local, #team-visitor { font-size: 1.2rem; width: 32%; }
    .buttons { margin-left: 35%; width: 20%; }
    #btn-play { padding: .3rem .1rem; }
    .W, .D, .L { display: none; }

    .week-container { margin: 8rem 0 0 23rem; }

}

@media only screen and (max-width: 560px) {
    html { font-size: 44.5%; }
    .select-teams > input { padding: .0rem 0; }

    .week-container { margin: 8rem 0 0 21rem; }
}

@media only screen and (max-width: 520px) {
    html { font-size: 40.5%; }
}

@media only screen and (max-width: 500px) {
    html { font-size: 38.5%; }
    #team-local, #team-visitor { padding: 1rem 0; }
    .select-teams > input { padding: .1rem 0; }
}

@media only screen and (max-width: 450px) {
    html { font-size: 35.5%; }

}